ul{color: #df03d1;text-align: right;}
h1 {text-align:center;}h1{background-color: lawngreen;}
body{ background-color: rgb(208, 252, 244);}
pre{background-color: blueviolet;}
h2{background-color:bisque ;text-align: center;}
tr {background-color: aqua;color: #6e05f7;}td{background-color: coral;}
table{ border: #df03d1;}
table{background-color: #a47c7c;}
p{color: #ae083c;}
form{background-color: aquamarine
}label{background-color: darkcyan;}
input{background-color: rgb(227, 209, 187);
    